<div class="card">
  <ul class="card__list">
    {% for post in site.posts %}
      <li class="card__item" data-aos="fade-up" data-aos-delay="{{ forloop.index | times: 400 }}">
        <a href="{{ post.url | relative_url }}" class="card__link">
          <img src="{{ post.thumbnail | relative_url }}" class="card__thumbnail" alt="{{ post.title }}のサムネイル">
          {% if post.demo %}
            <div class="card__title">{{ post.title }}（架空サイト）</div>
          {% else %}
            <div class="card__title">{{ post.title }} 様</div>
          {% endif %}
          <div class="card__text">{{ post.excerpt }}</div>
          <div class="tag">
            {% for tag in post.tags %}
              <div class="tag__item">{{ tag }}</div>
            {% endfor %}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>