<form class="form" action="https://ssgform.com/s/0ux0JqfBTCGt" method="post">
  <!-- Honeypot -->
  <div style="display: none;"><input type="text" name="wana" /></div>
  <!-- /Honeypot -->

  <div class="form__item">
    <label for="name" class="form__label form__label_required">お名前</label>
    <input type="text" name="お名前" id="name" placeholder="（例）山田 太郎" class="form__field" required>
  </div>

  <div class="form__item">
    <label for="company" class="form__label">会社名</label>
    <input type="text" name="会社名" id="company" placeholder="（例）サンプル株式会社" class="form__field">
  </div>

  <div class="form__item">
    <label for="email" class="form__label form__label_required">メールアドレス</label>
    <input type="email" name="メールアドレス" id="email" placeholder="（例）example@example.com" class="form__field" required>
  </div>

  <div class="form__item">
    <label for="message" class="form__label form__label_required">お問い合わせ内容</label>
    <textarea name="お問い合わせ内容" id="message" class="form__field" required></textarea>
  </div>

  <button type="submit" class="form__submit">送信</button>
</form>