@use "base" as *;

.header-wrap {
  width: 100%;
  height: 10vh;
  background-color: $primary_color;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-items: center;
  padding: 0 4%;
  @include display_md {
    padding: 0 2%;
  }
  &__title {
    font-size: clamp(3rem, 6.8vw, 3.6rem);
    color: $white;
    letter-spacing: 0.2rem;
    @include display_md {
      font-size: clamp(2.2rem, 2.8vw, 3.6rem);
    }
  }
}