@use "base" as *;

.link {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  &__button {
    display: block;
    font-weight: 600;
    text-align: center;
    color: $primary_color;
    border: 2px solid $primary_color;
    border-radius: 8px;
    transition: all 0.3s ease;
    padding: 10px 0;
    &:hover {
      color: $white;
      background-color: $primary_color;
    }
  }
}