@use "base" as *;

.page-top {
  width: $fixed-size;
  height: $fixed-size;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $primary_color;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 800;
  &.is-visible {
    opacity: 0.2;
    &:hover {
      opacity: 0.6;
    }
  }
  &__arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    transform: translateY(20%) rotate(-45deg);
  }
}