@use "base" as *;

.share-box {
  width: auto;
  height: $fixed-size;
  display: flex;
  position: fixed;
  bottom: 20px;
  left: -$fixed-size;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.6s ease-in-out, left 0.6s ease-in-out;
  &.is-visible {
    opacity: 1;
  }
  &.is-open {
    left: 0;
  }
}

.sns-icon {
  width: $fixed-size;
  height: $fixed-size;
  background-color: $white;
  padding: 1rem;
  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.share-icon {
  width: $fixed-size;
  height: $fixed-size;
  background-color: $primary_color;
  padding: 1rem;
  &__svg {
    width: 100%;
    height: 100%;
    color: $white;
    object-fit: contain;
  }
}