.share-box {
  width: auto;
  height: 6vh;
  display: flex;
  position: fixed;
  bottom: 20px;
  left: -6vh;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.6s ease-in-out, left 0.6s ease-in-out;
  @include display_md {
    height: 8vh;
    left: -8vh;
  }
  &.is-visible {
    opacity: 1;
  }
  &.is-open {
    left: 0;
  }
}

.sns-icon {
  width: 6vh;
  height: 6vh;
  background-color: $white;
  padding: 1rem;
  @include display_md {
    width: 8vh;
    height: 8vh;
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.share-icon {
  width: 6vh;
  height: 6vh;
  background-color: $primary_color;
  padding: 1rem;
  @include display_md {
    width: 8vh;
    height: 8vh;
  }
  &__svg {
    width: 100%;
    height: 100%;
    color: $white;
    object-fit: contain;
  }
}