@use "base" as *;

.title {
  width: 100%;
  height: auto;
  color: $primary_color;
  text-align: center;
  letter-spacing: 0.15rem;
  &__main {
    font-size: clamp(2.8rem, 4vw, 3.2rem);
    font-weight: 500;
  }
  &__sub {
    font-size: 1.4rem;
  }
}

.arrow {
  width: 100%;
  height: 70px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 50%;
    border-left: 2px solid $primary_color;
    border-bottom: 2px solid $primary_color;
    transform: skewY(-45deg);
  }
}
