@use "variables" as *;

/* mxin for media queries
-------------------------------*/
@mixin display_sm {
  @media (min-width: $sm) {
    @content;
  }
}
@mixin display_md {
  @media (min-width: $md) {
    @content;
  }
}
@mixin display_lg {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin display_xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin max_width {
  max-width: 760px;
  margin: 0 auto;
}