/* media query breakpoints
-------------------------------*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* color
-------------------------------*/
$primary_color: #5C4033;
$secondary_color: #D6CDC8;
$point_color: #C8142C;
$bg_color: #F8F5F2;
$text_color: #383838;
$white: #FFFFFF;
$black: #000000;
$dark_gray: #333333;
$light_gray: #E4E9EF;

/* fixed sizes
-------------------------------*/
$sm-size: 42px;
$md-size: 52px;
